body{
    background-color: powderblue;
}

img{
    
    left: 1350px;
    height: 120px;
    top:11px;
    width :120px;
    
}
#Contact{
    
    width: max-content;
    height: 588px;
    font-size: 16px;
    font-family: 'Hubballi', cursive;
    background-color: #0892D0;
}
b{
    padding: 5px 2px;
    margin: 2px 2px;
    font-size: 20px;

    font-family: 'Oswald', sans-serif;
}

table, th, td{
    border: 2px solid black;
}
.right{
    display: inline;
    position: absolute;
    top: 71px;
    left: 195px;
    

}